.section-contact {
  min-height: 100vh;
  @include themed {
    background-color: theme("secondary");
  }
  @include themed {
    color: theme("tertiary");
  }
  .inner-contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .wrap-content {
      padding-top: 12rem;
      overflow: hidden;
      .inner-title {
        overflow: hidden;
        .title-contact {
          font-size: 1.5rem;
          font-weight: 300;
          padding-top: 3rem;
        }
      }
      .wrap-email {
        overflow: hidden;
        padding-top: 2rem;
        .copy-email {
          font-family: $font_gallient;
          font-size: 6rem;
          line-height: 1.1;
          text-transform: uppercase;
        }
        .inner-label {
          margin-bottom: 1rem;
        }
        .copy-label,
        .copied-label {
          font-size: 0.813rem;
        }
      }
    }
    .inner-footer {
      margin-top: auto;
    }
  }
}
