.wrap-title-about {
  display: flex;
  align-items: center;
  height: 100vh;
  .title-about {
    text-align: left;
    text-transform: uppercase;
    line-height: 1;
    overflow: hidden;
    .title-1,
    .title-2 {
      display: block;
    }
    .title-1 {
      font-family: $font_gallient;
      font-size: clamp(1.5rem, 0.0915rem + 6.0094vw, 5.5rem);
    }
    .title-2 {
      font-size: clamp(2rem, 0.0634rem + 8.2629vw, 7.5rem);
      font-family: $font_nunito;
      font-weight: 600;
    }
  }
}

@media (max-width: 749px) {
  .wrap-title-about {
    height: auto;
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
}
