.page-realisation-detail {
  .section {
    padding: 4rem 0;
    &.project-color {
      padding-bottom: 0;
    }
  }
  .link-website {
    display: inline-flex;
    background: #fff;
    color: $dark_grey;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-radius: 2rem;
    align-items: center;
    .link-text {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
    }
    .link-arrow {
      background: #171717;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      transform: scale(0.2);
      transition: 0.2s transform ease-in-out;
      svg {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
    &:hover {
      .link-arrow {
        transform: scale(1);
      }
      svg {
        opacity: 1;
      }
    }
    &.link-dark {
      background-color: $dark_grey;
      color: #fff;
      .link-arrow {
        background-color: #fff;
      }
    }
    &.link-md {
      padding: 0.5rem 0.5rem 0.5rem 2rem;
    }
  }
  .project-card:has(+ section) {
    padding-bottom: 4rem !important;
  }
}

@media (max-width: 1023px) {
  .page-realisation-detail {
    height: 100%;
    overflow: scroll;
  }
}
