.project-desc {
  .wrap-desc {
    display: flex;
    flex-wrap: wrap;
    .inner-desc {
      padding: clamp(0rem, -1.6667rem + 7.4074vw, 5rem);
      h2 {
        font-size: clamp(1.5rem, 1rem + 2.2222vw, 3rem);
        font-weight: 700;
        padding-bottom: 2rem;
      }
      p {
        font-size: clamp(1rem, 0.7289rem + 1.2048vw, 1.5rem);
        font-weight: 200;
        margin-bottom: 1rem;
        color: $light_grey;
      }
      strong {
        @include themed {
          color: theme("quaternary");
        }
        font-family: $font_gallient;
        font-weight: 700;
        text-transform: uppercase;
      }
      &.desc {
        max-width: 600px;
      }
    }
  }
}
