.project-device {
  position: relative;
  margin-top: -1px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 450px;
    bottom: -1px;
    @include themed {
      background-color: theme("primary");
    }
    z-index: -1;
  }
  .wrap-img {
    max-width: 950px;
    margin: 0 auto;
  }
}
