.project-identity {
  .wrap-content {
    max-width: 600px;
    .title {
      margin-bottom: 1rem;
    }
    .desc {
      color: $light_grey;
      font-size: clamp(1rem, 0.7289rem + 1.2048vw, 1.5rem);
      font-weight: 200;
    }
  }
  .wrap-img {
    display: flex;
    padding-top: 2rem;
    .inner-img {
      display: flex;
      .block-img {
        width: 600px;
        padding: 2rem;
      }
    }
  }
}

@media (max-width: 1023px) {
  .project-identity {
    .wrap-img {
      .inner-img {
        flex-wrap: wrap;
        .block-img {
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
}
