.project-identity {
  .wrap-content {
    max-width: 600px;
    .title {
      margin-bottom: 1rem;
    }
    .desc {
      color: $light_grey;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
  .wrap-img {
    display: flex;
    padding-top: 2rem;
    .inner-img {
      display: flex;
      .block-img {
        width: 600px;
        padding: 2rem;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
