.project-text {
  .wrap-desc {
    display: flex;
    justify-content: flex-start;
    .inner-desc {
      padding: 0 5rem;
      max-width: 750px;
      h2 {
        font-size: 3rem;
        font-weight: 700;
        padding-bottom: 2rem;
      }
      p {
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 1rem;
        color: $light_grey;
      }
      strong {
        color: #000;
        font-family: $font_gallient;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
