.wrapper {
  padding-left: clamp(1rem, -0.2536rem + 5.1429vw, 4.375rem);

  padding-right: clamp(1rem, -0.2536rem + 5.1429vw, 4.375rem);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
