.loader-wrapper {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  @include themed {
    background-color: theme("primary");
  }
  .loader {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    .loader-inner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      .loader-number {
        display: block;
      }
      .change-word {
        text-align: center;
        .word {
          right: 0;
          width: 100%;
        }
      }
    }
  }
}
