.social {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 2;
  &.social-home {
    right: 4vw;
    .btn-progress {
      .progress {
        .progress-path {
          @include themed {
            stroke: theme("quaternary");
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .social {
    &.social-home {
      right: 1vw;
    }
  }
}
