@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes infiniteKeyword {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
